<!-- Donors Section-->

<div class="col-lg-10 col-sm-6 center">
    <div class="card text_Alignment">
        <div class="card-header">
            <h4>إدارة المتبرعين</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>مسح</th>
                            <th>وقت الحظور</th>
                            <th>الموقع</th>
                            <th>فصيلة الدم</th>
                            <th>رقم الهاتف</th>
                            <th>الاسم</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users | async">
                            <td><strong><a href="#" class="btn fa fa-trash"></a></strong></td>
                            <td>{{ user.time }}</td>
                            <td>{{ user.location }}</td>
                            <td>{{ user.bloodtype }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ user.name }}</td>
                            <td scope="row">1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
