<div class="page login-page">
    <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div dir="rtl" class="logo text-uppercase"><span>لوحة تحكم تطبيق  </span><strong class="text-primary"> مصرف الدم</strong></div>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p> -->
                <form [formGroup]="form" (ngSubmit)="doLogin()" novalidate>
                    <div *ngIf="loginError" class="alert alert-danger text-center">
                        <ul class="list-unstyled">
                            <li>خطأ في كلمة البريد الالكتروني او كلمة المرور</li>
                        </ul>
                    </div>
                    
                    <div *ngIf="user.showPermissionDeniedMsg" class="alert alert-danger text-center">
                        <ul class="list-unstyled">
                            <li>غير مصرح لك بالدخول</li>
                        </ul>
                    </div>
                    <div class="form-group-material">
                        <input dir="rtl" [formControl]="email" type="text" required="required" class="input-material" placeholder="البريد الالكتروني">
                    </div>

                    <div class="form-group-material">
                        <input dir="rtl" [formControl]="password" type="password" required class="input-material" placeholder="كلمة المرور">
                    </div>
                    <span dir="rtl" *ngIf="loading" class="pull-left ml-3 mt-2">يرجى الانتظار ...</span>
                    <button [disabled]="form.invalid" class="btn btn-danger pull-right">تسجيل الدخول</button>
                    
                </form>
            </div>
            <div class="copyrights text-center">
                <!-- <p>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p> -->
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
        </div>
    </div>
</div>
