<nav class="side-navbar navbar-inverse">
    <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <!-- User Info-->
            <div class="sidenav-header-inner text-center"><img src="assets/images/logo.jpg" alt="person" class="img-fluid rounded-circle">
                <h2 class="h5">مصرف الدم </h2><span>من الشعب للشعب </span>
            </div>
            <!-- Small Brand information, appears on minimized sidebar-->
            <div class="sidenav-header-logo">
                <a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">B</strong></a>
            </div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
            <h5 class="sidenav-heading">القائمة الرئيسية</h5>
            <ul id="side-main-menu" class="side-menu list-unstyled">
                <li routerLinkActive="active">
                    <a [routerLink]="['/home']">الصفحة الرئيسية <i class="icon-home"></i> </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/feedback']">المراجعات <i class="icon-form"></i> </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/donors']">المتبرعون <i class="fa fa-bar-chart"></i> </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/requests']">الطلبات <i class="icon-grid"></i> </a>
                </li>





            </ul>
        </div>

    </div>
</nav>
